
<nav class="navbar navbar-dark indigo justify-content-center">
    <form class="form-inline">
        <div class="form-row">
            <div class="col">
                <!-- TODO -->
                <a class="btn btn-raised btn-primary" href="{{ url_for('profiles') }}" role="button">หน้าหลัก</a>
                <button class="btn btn-raised btn-primary" type="button">เติมเงิน Wallet</button>
                <button class="btn btn-raised btn-primary" type="button">โอนเงินระหว่าง Wallet</button>
                <button class="btn btn-raised btn-primary" type="button">ออกจากระบบ</button>
            </div>
        </div>
    </form>
</nav>

<nav